.admin-add-topic {
    .form-container{
        margin: 0 250px;
        h4 {
            margin: 0;
        }
        p{
            margin: 0 0 20px 0;
        }
        .upload-btn {
            width: 300px;
        }
    }
}